In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import numpy as np
import pandas as pd

In [3]:
##Load the trained model,scaler pickle files,onehot encoder pickle file
model = load_model('churn_model.h5')

##load the encoder and scaler
with open('onehot_encoder_geo.pkl', 'rb') as file:
    label_encoder_geo = pickle.load(file)
    
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [7]:
#Example input data

input_data = {
    "CreditScore": 600,
    "Geography": "France",
    "Gender": "Male",
    "Age": 40,
    "Tenure": 3,
    "Balance": 60000,
    "NumOfProducts": 2,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary": 50000
}

In [29]:
# One-hot encode 'Geography'
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\shiva\Desktop\ANN Classificn\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [34]:
input_df = pd.DataFrame(input_data, index=[0])
input_df = pd.concat([input_df, geo_encoded_df], axis=1)
input_df

   CreditScore Geography  ... Geography_Germany  Geography_Spain
0          600    France  ...               0.0              0.0

[1 rows x 13 columns]

In [36]:
## Encode categorical variables
from sklearn.preprocessing import LabelEncoder

# Create LabelEncoder instance
label_encoder = LabelEncoder()

# Fit and transform the column
input_df['Gender'] = label_encoder.fit_transform(input_df['Gender'])

input_df

   CreditScore Geography  ...  Geography_Germany  Geography_Spain
0          600    France  ...                0.0              0.0

[1 rows x 13 columns]

In [37]:
input_df = input_df.drop(['Geography'], axis=1)
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       0  ...                0.0              0.0

[1 rows x 12 columns]

In [38]:
##Scaling the data
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.53598516, -1.09499335,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [40]:
##Predict the Churn
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step

array([[0.05163721]], dtype=float32)

In [42]:
prediction_probability = prediction[0][0]
prediction_probability

0.051637214

In [44]:
if prediction_probability>0.5:
    print('The customer is likely to churn')
else:
    print('The customer is not likely to churn')

The customer is not likely to churn